*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Work Sans', sans-serif;
}
h1, h2{
   margin-bottom: 20px;
   font-weight: 700;
   line-height: 1.2;
}
h1{
   font-size: 60px;
}
h2{
   font-size: 35px;
}
h3{
   font-size: 25px;
   margin-bottom: 10px;
}
p{
   line-height: 1.7;
}
ul{
   list-style-position: inside;
   list-style-image: url(image/icons/check.png);
}
li{
   line-height: 2;
}

.container{
   width: 1100px;
   margin: 0 auto;
}
.container-sm{
   width: 40%;
}
.btn{
   padding: 15px 20px;
   background-color: #ffffff;
   font-weight: 600;
   color: #005FAC;
   text-decoration: none;
   border: 1px solid transparent;
   border-radius: 5px;
}
.footer-btn{
   background: #005FAC;
   color: #ffffff;
}

/* Banner starts */
.banner{
   padding: 180px 0;
   background-image: url(image/banner3.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: #ffffff;
   text-align: end;
}
.banner .banner-contents{
   margin-left: auto;
}
.banner .banner-contents p{
   margin-bottom: 35px;
}
/* Banner ends */

/* Stay Positive starts */
.stay-positive{
   padding: 120px 0 50px;
   text-align: center;
}
.stay-positive iframe{
   margin-top: 20px;
   padding: 10px;
   background-color: #005FAC;
   border-radius: 8px;
}
/* Stay Positive ends */

/* Failures start */
.failures{
   padding: 80px 0;
}
.failures .container{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.failures .failure-list{
   padding-right: 20px;
}
.failures .failure-list p{
   margin-bottom: 10px;
}
/* Features end */

/* Plans start */
.plans{
   text-align: center;
}
.plans .plans-list{
   display: flex;
   justify-content: space-between;
   padding: 50px 0;
}
.plans .plans-list .single-plan img{
   margin-bottom: 10px;
}
.plans .plans-list .single-plan p{
   font-size: 20px;
}
/* Plans end */

/* Always keep positive starts */
.always-keep-positive .contents{
   margin: 100px 0 130px;
   padding: 50px 0 70px 60px;
   background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(image/watch.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: #ffffff;
   border-radius: 8px;
}
.always-keep-positive .contents h2{
   margin-bottom: 40px;
}
/* Always keep positive ends */

/* Footer starts */
footer{
   padding: 100px 0;
   background-color: rgba(21, 20, 20, 1);
   color: #ffffff;
}
footer p{
   padding-bottom: 10px;
}
footer .container{
   display: flex;
   justify-content: space-between;
}
footer .container .contact .social{
   padding-top: 10px;
}
footer .container .newsletter form input{
   margin: 20px 0 15px;
   padding: 15px 20px;
   background-color: transparent;
   color: #ffffff;
   border: 1px solid #FFFFFF;
   border-radius: 8px;
}
/* Footer ends */
