*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Work Sans', sans-serif;
}
h1, h2{
   margin-bottom: 20px;
   font-weight: 700;
   line-height: 1.2;
}
h1{
   font-size: 60px;
}
h2{
   font-size: 35px;
}
h3{
   font-size: 25px;
   margin-bottom: 10px;
}
p{
   line-height: 1.7;
}
ul{
   list-style-position: inside;
   list-style-image: url(image/icons/check.png);
}
li{
   line-height: 2;
}

.container{
   width: 75%;
   margin: 0 auto;
}
.container-sm{
   width: 40%;
}
.btn{
   padding: 15px 20px;
   background-color: #ffffff;
   font-weight: 600;
   color: #005FAC;
   text-decoration: none;
   border: 1px solid transparent;
   border-radius: 5px;
}

/* Banner starts */
.banner{
   padding: 180px 0;
   background-image: url(image/banner3.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: #ffffff;
   text-align: end;
}
.banner .banner-contents{
   margin-left: auto;
}
.banner .banner-contents p{
   margin-bottom: 35px;
}
/* Banner ends */

/* Failures start */
.failures{
   padding: 100px 0;
}
.failures .container{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.failures .failure-list{
   padding-right: 20px;
}
.failures .failure-list p{
   margin-bottom: 10px;
}
/* Features end */

/* Plans start */
.plans{
   text-align: center;
}
.plans .plans-list{
   display: flex;
   justify-content: space-between;
   padding: 50px 0;
}
.plans .plans-list .single-plan img{
   margin-bottom: 10px;
}
.plans .plans-list .single-plan p{
   font-size: 20px;
}
/* Plans end */